# Simulation
simpy==3.0.8
networkx==1.10

# Visualization and Analysis
#seaborn==0.7.0
#matplotlib==1.5.1
#numpy==1.10.4
#scipy==0.17.0
#pandas==0.17.1
#cycler==0.9.0
#pyparsing==2.0.7
#pytz==2015.7

# Website
Jinja2==2.8
MarkupSafe==0.23

# Utilities
confire==0.2.0
commis==0.2
PyYAML==3.11
colorama==0.3.6
python-dateutil==2.4.2
tabulate==0.7.5
six==1.10.0
decorator==4.0.6
Importing==1.10
enum34==1.1.2

# Testing
coverage==4.0.3
nose==1.3.7
mock==1.3.0
pbr==1.8.1
funcsigs==0.4

# Pip stuff
#Python==2.7.10
#pip==8.1.1
#wheel==0.24.0
#setuptools==19.4
#wsgiref==0.1.2
