/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body > .container,
body > .container-fluid {
  padding: 60px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FEFEFE;
  border-top: 1px solid #EEEEEE;
}

.footer > .container,
.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}


.footer .text-muted {
  margin: 20px 0;
}

/* Simulation and SVG styles
-------------------------------------------------- */

#simulation {
    background-color: #FEFEFE;
    border: 1px solid #EFEFEF;
    min-height: 768px;
    padding: 0;
}

#simulation > svg {
    width: 100%;
    min-height: 768px;
    margin: 0;
}

svg #ring {
    fill: #fcfcfc;
    stroke: #bbb;
    stroke-width: 2;
    stroke-dasharray: 5, 5;
}

.label {
    fill: #333;
    font-weight: bold;
    font-size: 1.1em;
    stroke: none;
}

.link {
    stroke: #666;
    stroke-width: 2;
    fill: none;
    font-family: monospace;
}

.link.constant {
    stroke-dasharray: none;
}

.link.variable {
    stroke-dasharray: 6, 4, 3, 4, 6;
}

.replica {
    stroke: #333;
    stroke-width: 2;
}

.consistency-strong {
    fill: #91cf60;
}

.consistency-medium {
    fill: #ffffbf;
}

.consistency-low {
    fill: #fc8d59;
}
